
aside {
  background-color: grey;
  font-size: 20px;
  padding: 10px;
  >a {
    margin: 0 20px;
  }
  input {
    display: inline-block;
    border: 1px solid green;
  }
}

nav {
  display: inline-block;
  position: relative;
  border: 1px solid green;
  margin: 0 20px;
  ul {
    position: absolute;
  }

}


