<!DOCTYPE html>
<html ng-app="reddit">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./reset.css" title="" type="text/css" />
    <link rel="stylesheet" href="./font-awesome/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./style.css" title="" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300|Abel|PT+Sans+Caption' rel='stylesheet' type='text/css'>
    <title></title>
  </head>
  <body ng-controller="users">
    <aside>
        <h2 class="inline-block">Reddit Clone</h2>
        <a href="" ng-click="openPost = !openPost; navDown = false">Submit Post</a>
        <input type="text" ng-model="searchText" placeholder="Search"/>
      <nav>
        <a href="" ng-click="navDown = !navDown; openPost = false">Sort by {{selection}}</a>
        <ul ng-show="navDown" ng-init="selection = 'date'">
          <li ng-click="selection = 'vote'; ordering = !ordering">Vote</li>
          <li ng-click="selection = 'date'; ordering = !ordering">Date</li>
          <li ng-click="selection = 'title'; ordering = !ordering">Title</li>
        </ul>
      </nav>
    </aside>
    <form class="new-post" ng-submit="newPost(); openPost = false" ng-show="openPost">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" value="" ng-model="title" placeholder="Title" required/>
      <label for="author">Author</label>
      <input type="text" name="author" id="author" value="" ng-model="author" placeholder="Author" required/>
      <label for="image-url">Image URL</label>
      <input type="text" name="imageURL" id="image-url" value="" ng-model="imageURL" placeholder="Image URL" required/>
      <label for="description">Description</label>
      <input type="text" name="content" id="description" value="" ng-model="content" placeholder="Description" required/>
      <input type="submit" name="" id="" value="Submit Post" />
    </form>
    <div class="container">
      <section ng-repeat="post in posts | orderBy:selection:ordering | filter:searchText:strict">
        <img class="picture" ng-src="{{post.imageURL}}" alt="" />
        <div class="inner-container">
          <h4>{{post.title}} |
            <i ng-click="upvote(post.countOrder)" class="fa fa-arrow-up"></i>
            <i ng-click="downvote(post.countOrder)" class="fa fa-arrow-down"></i>
          <span ng-class="{'green': post.vote > 0, 'red': post.vote < 0}">{{post.vote}}</span>
          </h4>
          <p class="author">By {{post.author}}</p>
          <div class="content">
            <p>{{post.content}}</p>
          </div>
          <p class="date"><i class="fa fa-clock-o"></i> {{post.date}}</p>
          <p class="inline-block">|</p>
          <a ng-click="commentOpen = !commentOpen; addComment = false" class="comments" href=""><i class="fa fa-comment"></i><ng-pluralize count="post.comments.length" when="{'0': '0 comments', '1': '1 comment', 'other': '{} comments'}"></ng-pluralize></a>
          <p class="inline-block">|</p>
          <a ng-click="addComment = !addComment; commentOpen = false" class="inline-blcok" href=""><i class="fa fa-pencil-square-o"></i>Add Comment</a>
            <form ng-show="addComment"class="comment-form" ng-submit="newComment(name, comment, countOrder); addComment = false; commentOpen = true">
              <label for="name">Name</label>
              <input type="text" ng-model="name" name="name" id="name" value="" required />
              <label for="comment">Comment</label>
              <input type="text" ng-model="comment" name="comment" id="" value="" required />
              <input type="hidden" ng-model="countOrder" name="" value="" ng-init="countOrder = post.countOrder"/>
              <input type="submit" name="" id="" value="Add Comment" />
            </form>
          <div class="comment-block" ng-show="commentOpen" ng-repeat="com in post.comments">
            <p class="inline-block">{{com.name}} - </p>
            <p class="inline-block">{{com.comment}}</p>
          </div>
        </div>
      </section>
    </div>
    <script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="./controller.js"></script>
    <script type="text/javascript" charset="utf-8" src="./app.js"></script>
  </body>
</html>
